{% extends "base.html" %}

{% block title %}Collected Urls{% endblock %}

{% block head %}
    {{ super() }}
    <style>

        .check_mark {
            margin-left: 10px;
            color: #18CA00;
            font-weight: bold;
        }

        .parameter_mouseover:hover .original {
            display: inline;
        }

        .parameter_mouseover:hover .urldecode {
            display: none;
        }
        .parameter_mouseover .original {
            display: none;
        }
        .parameter_mouseover .urldecode {
            display: inline;
        }
    </style>
{% endblock %}

{% block content %}
        <ul class="breadcrumb">
        <li><a href="{{ url_for('get_hosts') }}">Hosts</a></li>
        <li><a href="{{ url_for('get_host', host=host) }}">{{ host }}</a></li>
        <li class="active">Form Analysis</li>
    </ul>
    <h1>URL Form Analysis - {{host}}</h1>

    <br>
    <br>
    {% if forms %}
    <table class="table table-hover ">
        <tr><th>Action</th><th>Method</th><th>Type</th><th>Name</th><th>Value</th></tr>

        {% for form in forms %}
            <tr>
                <td rowspan="{{ form.inputs | length +1 }}">
                    <b><a href="{{ url }}" style="color: #000000;">{{ form.action[0] }}</a></b><br>
                    {% if form.action[1:] %}
                    <i>example: </i><br>
                    {% for url in form.action[1:] %}
                        <a href="{{ url }}">{{ url }}</a><br>
                    {% endfor %}
                    {% endif %}
                </td>
                <td rowspan="{{ form.inputs | length +1 }}">
                    {% if form.method == "get" %}
                        <span class="label label-primary">[GET]</span>
                    {% elif form.method == "post" %}
                        <span class="label label-warning">[POST]</span>
                    {% else %}  
                        <span class="label label-danger">[{{form.method}}]</span>
                    {% endif %}
                </td>
            </tr>
            {% for input in form.inputs %}
            <tr>
                <td>
                    {{ input.type }}
                </td>
                <td>
                    {% if input.name %}
                        <span class="parameter_key">{{ input.name }}</span>
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>
                    {% for val in input.value[:10] %}
                        <span class="parameter_val">{{ val }}&nbsp;</span> ,
                    {% endfor %}
                    {% if input.value|count > 10 %}
                        [...]
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        {% endfor %}

    </table>
    {% else %}
      <p>empty.</p>
    {% endif %}
{% endblock %}


{% block info %}
    <br>
    <span class="label label-primary">[GET]</span> &#8212; form uses GET<br>
    <br>
    <span class="label label-warning">[POST]</span> &#8212; form uses POST<br>
    <br>
    <span class="label label-danger">[unknown]</span> &#8212; form method unknown<br>
    <br>
    <span class="parameter_key">...</span> &#8212; input name<br>
    <br>
    <span class="parameter_val">...</span> &#8212; possible values<br>
    <br>
    [...] &#8212; more values collected but not displayed<br>
{% endblock %}