{% extends "base.html" %}

{% block title %}Collected Urls{% endblock %}

{% block head %}
    {{ super() }}
    <style>

        .check_mark {
            margin-left: 10px;
            color: #18CA00;
            font-weight: bold;
        }
        .parameter_key, .parameter_val {
            color: #ffffff;
            padding: 0px 10px;
            margin: 5px 0px;
            line-height: 18px;
        }

        .parameter_key {
            background-color: #73dc9a;
            border: 1px solid #6cca8f;
        }
        .parameter_val {
            background-color: #5bc0de;
            border: 1px solid #46b8da;
        }

        .parameter_mouseover:hover .original {
            display: inline;
        }

        .parameter_mouseover:hover .urldecode {
            display: none;
        }
        .parameter_mouseover .original {
            display: none;
        }
        .parameter_mouseover .urldecode {
            display: inline;
        }


    </style>
{% endblock %}

{% block content %}

     <ul class="breadcrumb">
        <li><a href="{{ url_for('get_hosts') }}">Hosts</a></li>
        <li><a href="{{ url_for('get_host', host=host) }}">{{ host }}</a></li>
        <li class="active">Parameter Analysis</li>
    </ul>
    <h1>URL Parameter Analysis - {{host}}</h1>


    <br>
    <br>
    <table class="table table-hover">
        <tr><th>#</th><th>Path</th><th>Parameter</th><th>Value</th></tr>
        {% for parameter in parameters %}
        <tr>
            <td rowspan="{{ parameter.q | length +1 }}">{{ loop.index }}</td>
            <td rowspan="{{ parameter.q | length +1 }}" >
                <b>{{ parameter.p }}</b><br>
                <i>example:</i><br>
                <a href="{{ parameter.e }}" >{{ parameter.e }}</a>
            </td>
        </tr>
        {% for param in parameter.q %}
            <tr class="table-striped">
                <td>
                    <span class="parameter_key">{{param}}=</span>
                </td>
                <td>
                    {% for val in parameter.q[param][:10] %}
                        <span class="parameter_mouseover">
                            <span class="parameter_val urldecode">{{ val|urldecode }}</span>
                            <span class="parameter_val original">{{ val }}</span>
                        </span> ,
                    {% endfor %}
                    {% if parameter.q[param]|count > 10%}
                        [...]
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
       
        {% endfor %}
    </table>

    
{% endblock %}

{% block info %}
    <br>
    <span class="parameter_key">...</span> &#8212; GET parameter<br>
    <br>
    <span class="parameter_val">...</span> &#8212; possible values<br>
    <br>
    [...] &#8212; more values collected but not displayed<br>
{% endblock %}

{% block bottom_script %}
{% endblock %}