{% extends "base.html" %}

{% block title %}Collected Urls{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <ul class="breadcrumb">
        <li><a href="{{ url_for('get_hosts') }}">Hosts</a></li>
        <li class="active">Collected URLs</li>
    </ul>
    <h1>Collected URLs</h1>
    {% if urls %}
    <table class="table table-striped table-hover ">
        <tr><th>url</th></tr>

        {% for url in urls %}
            <tr><td>{{ url }}</td></tr>
        {% endfor %}

    </table>
    {% else %}
      <p>empty.</p>
    {% endif %}
{% endblock %}