{% extends "base.html" %}

{% block title %}Hosts{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <ul class="breadcrumb">
        <li class="active">Hosts</li>
    </ul>
    <h1>Hosts</h1>
    {% if hosts %}
    <table class="table table-striped table-hover ">
        <tr>
            <th>Host</th>
            <th># URLs</th>
            <th>Action</th>
        </tr>

        {% for host in hosts %}
            
            <tr>
                <td>
                    {{ host.host }}
                </td>
                <td>
                    {{ host.url_count }}
                </td>
                <td>
                    <a href="{{ url_for('get_host', host=host.host) }}" class="btn btn-primary btn-xs" >
                        <span class="glyphicon glyphicon-filter"></span>
                        analyse
                    </a>
                    <a onclick="delete_host(this, '{{ host.host }}')" class="btn btn-danger btn-xs">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% else %}
      <p>empty.</p>
    {% endif %}
{% endblock %}

{% block bottom_script %}
    <script>
        delete_host = function(asd, host) {
            if (confirm('Delete host and all collected and analysed data permanently?')) {
                var request = new XMLHttpRequest();  
                request.open('POST', 'http://127.0.0.1:5000/api/remove/host/'+host, true);
                request.onload = function() {
                    response = JSON.parse(request.response);
                    if(response!==undefined && response.status=='OK') {
                        $(asd).parent().parent().fadeOut();
                    } else {
                        alert("Error. Maybe Server down?");
                    }
                }
                request.send();
            }
        }
    </script>
{% endblock %}